/*:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}*/

:root {
    --bg-dim: #1e2326;
    --bg0: #272e33;
    --bg1: #2e383c;
    --bg2: #374145;
    --bg3: #414b50;
    --bg4: #495156;
    --bg5: #4f5b58;
    --gray0: #7a8478;
    --gray1: #859289;
    --gray2: #9da9a0;
    --red: #e67e80;
    --yellow: #ddae21;
    --green: #74c365;
    --blue: #7fbbb3;

    --orange: #e89068;

    --bg-yellow: #45443c;
    --bg-green: #3c4841;
}

h1,
h2 {
    font-family: var(--heading);
    font-weight: 500;
    color: var(--text-h);
}

h1 {
    font-size: 50px;
    letter-spacing: -1.68px;
    margin: 0;
    @media (max-width: 1024px) {
        font-size: 36px;
    }
}
h2 {
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.24px;
    margin: 0 0 8px;
    @media (max-width: 1024px) {
        font-size: 20px;
    }
}
p {
    margin: 0;
}

code {
    font-size: 15px;
    line-height: 135%;
    padding: 4px 8px;
    background: var(--code-bg);
}

.counter {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--accent);
    background: var(--accent-bg);
    border: 2px solid transparent;
    transition: border-color 0.3s;
    margin-bottom: 24px;

    &:hover {
        border-color: var(--accent-border);
    }
    &:focus-visible {
        outline: 2px solid var(--accent);
        outline-offset: 2px;
    }
}

#app {
    /*width: 1126px;*/
    /*max-width: 100%;*/
    /*margin: 0 auto;*/
    text-align: center;
    /*border-inline: 1px solid var(--border);*/
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.margin-1 {
    margin: 1em;
}

.margin-05 {
    margin: 0.5em;
}

a {
    color: var(--blue);
}

ul {
    margin: 0;
}
